*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100%;
    font-family: sans-serif;
}
i{
    cursor: pointer;
}
a{
    text-decoration: none;
    color: white;
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: hsl(210, 11%, 15%);
    color: #fff;
    padding: 25px 60px;
    margin-bottom: 30px;
   }
   .cart{
    position: relative;
    background-color: #fff;
    color: #212529;
    padding: 5px;
    font-size: 30px;
    border-radius: 4px;
   }
   .cart-amount{
    top: -15px;
    right: -10px;
    position: absolute;
    font-size: 16px;
    background-color: red;
    color: #fff;
    padding: 3px;
    border-radius: 4px;
   }
   .shop{
    display: grid;
    grid-template-columns: repeat(4, 223px);
    gap: 30px;
    justify-content: center;
   }
   @media(max-width: 1000px){
    
   .shop{
    grid-template-columns: repeat(2, 223px);
    margin-bottom: 50px;
    
   }
   }
   
   @media(max-width: 500px){
    
    .shop{
     grid-template-columns: repeat(1, 223px);
     
    }
    }
   .items{
    border: 2px solid #212529;
   }
   .item img{
    width: 100%;
    border-radius: 2px 2px 0 0;
    object-fit: cover;
   }
   .details{
    display: flex;
    flex-direction: column;
    padding: 10px;
    gap: 10px;
   }
   .price-quantity{
    display: flex;
    justify-content: space-between;
   }
   .buttons{
    display: flex;
    gap: 8px;
    align-items: center;
   }
   .bi-dash-lg{
    color: red;
   }
   
   .bi-plus-lg{
    color: green;
   }

   .text-center{
    text-align: center;
    margin-bottom: 20px;
   }
   .HomeBtn, .checkout
   ,.removeAll{
    background-color: #212529;
    padding: 6px;
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    margin-top: 10px;
   }
   .checkout{
    background-color: green;
   }
   .removeAll{
    background-color: red;
   }
   .bi-x-lg{
    color: red;
    font-weight: bold;
   }
   .shopping-cart{
    display: grid;
    grid-template-columns: repeat(1, 320px);
    justify-content: center;
    gap: 15px;
   }
   .cart-item{
    border: 2px solid #212529;
    border-radius: 5px;
    display: flex;

   }
   .title-price-x{
    width: 195px;
    display: flex;
    align-items: center;
    justify-content: space-between;
   }
   .title-price{
    display: flex;
    gap: 10px;
   }
   .cart-item-price{
    background-color: #212529;
    color: #fff;
    border-radius: 4px;
    padding: 3px 6px;
   }
   